#link-container {
	margin: 15px;
	padding: 10px;
	background: #ddd;
	height: auto;
	width: auto;
	text-align: center;
}

#link-container div {
	margin: 10px;
	background: #eeeeee;
	display: flex;
	justify-content: center;
	align-items: center;
}

#link-path {
	text-align: center;
	word-break: break-all;
}

#spinner_container {
	text-align: center;
}

.container {
	/* border: 2px solid blue; */
	background-color: #eeeeee;
	display: flex;
	justify-content: center;
}

.container div {
	/* border: 2px solid cyan; */
	margin: 5px;
	padding: 5px;
	text-align: center;
	background: #ddd;
}

.container-parent {
	background: #999;
	padding: 10px;
}

.container-child {
	background: #ccc;
	height: 50px;
	padding: 10px;
	margin: 10px;
	height: auto;
	width: auto;
}

.container-child h4,
.container-child p {
	display: inline;
	font-size: 16px;
}

.header {
	/* border: 3px solid red; */
	background-color: #eeeeee;
	text-align: center;
}

.hidden-while-loading {
	display: none;
}

/* CSS SPINNER ANIMATION */

.loader,
.loader:after {
	border-radius: 50%;
	width: 10em;
	height: 10em;
}
.loader {
	margin: 60px auto;
	font-size: 10px;
	position: relative;
	text-indent: -9999em;
	border-top: 1.1em solid rgba(35, 78, 224, 0.2);
	border-right: 1.1em solid rgba(35, 78, 224, 0.2);
	border-bottom: 1.1em solid rgba(35, 78, 224, 0.2);
	border-left: 1.1em solid #234ee0;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation: load8 1.1s infinite linear;
	animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes load8 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

/* DESKTOP RESPONSIVE FORMATTING */

@media only screen and (min-width: 660px) {
	#main-container {
		display: flex;
		justify-content: space-evenly;
	}

	#left-side {
		margin: 20px;
		padding: 30px;
		background: #e0faff;
		width: 45%;
		border: 3px solid red;
	}

	#right-side {
		margin: 20px;
		padding: 30px;
		background: #e0faff;
		width: 45%;
		border: 3px solid blue;
	}
}
